:root{
  --black: black;
  --light: white;
  --orange: orange;
  --hover-green: greenyellow;
  --hover-purple: #4d089b;
  --light-indigo: #b304e4;
  --discord-bg: #36393F;
}

*{
  color: var(--light);
}


.mask{
  width: 100%;
  height: 92vh;
}

.introImg{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}


.hero{
  width: 100%;
  height: 100%;
}

.hero .content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}

.leftHero{
  padding-right: 50px;
}

.heroHead{
  font-weight: 300;
  font-size: 56px;
}

.heroHead .heroName{
  font-weight: 700;
  cursor: pointer;
}

.heroHead .heroName:hover{
  color: var(--hover-green);
  transition: all 0.3s ease-in-out;  
}

.heroBtns{
  margin-top: 40px;
}

.contactBtn button{
  background-color: transparent;
  outline: 0;
  width: 120px;
  height: 55px;
  font-size: 20px;
  border: 3px solid white;
  border-radius: 40px;
  cursor: pointer;
  margin-right: 30px;
}

.contactBtn button:hover{
  border: 3px solid var(--hover-green);
  color: var(--hover-green);
  transition: all 0.3s ease-in;
}

.downloadBtn button{
  background-color: transparent;
  outline: 0;
  width: 170px;
  height: 55px;
  font-size: 20px;
  border: 3px solid white;
  border-radius: 40px;
  cursor: pointer;
}

.downloadBtn button:hover{
  border: 3px solid var(--hover-green);
  color: var(--hover-green);
  transition: all 0.3s ease-in;
}

/* --------------------------------------------------------------------------- */
/* MEDIA QUERIES */

@media all and (max-width: 1200px){
  .hero .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
  }

  .leftHero{
    text-align: center;
  }

  .rightHero{
    text-align: center;
  }
}